/* Inserta tu codigo aqui */
img {
	max-width: 100%;
}

.img1 {
	background: url(../image/header-image.jpg);
	min-width: 100%;
	background-repeat: no-repeat;
}


/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
